name: CI/CD Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pytest  # Ensure pytest is installed
     
      - name: Make src importable
        run: echo "PYTHONPATH=${PYTHONPATH}:${{ github.workspace }}/src" >> $GITHUB_ENV

      - name: Run Tests
        run: python -m pytest src/tests -v

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: echo "Deploying to production"       